@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/style.css";

:root {
  --color-fd-background: hsl(0 0% 100%);
  --color-fd-foreground: hsl(224 71.4% 4.1%);
  --color-fd-card: hsl(0 0% 100%);
  --color-fd-card-foreground: hsl(224 71.4% 4.1%);
  --color-fd-popover: hsl(0 0% 100%);
  --color-fd-popover-foreground: hsl(224 71.4% 4.1%);
  --color-fd-primary: hsl(262.1 83.3% 57.8%);
  --color-fd-primary-foreground: hsl(210 20% 98%);
  --color-fd-secondary: hsl(220 14.3% 95.9%);
  --color-fd-secondary-foreground: hsl(220.9 39.3% 11%);
  --color-fd-muted: hsl(220 14.3% 95.9%);
  --color-fd-muted-foreground: hsl(220 8.9% 46.1%);
  --color-fd-accent: hsl(220 14.3% 95.9%);
  --color-fd-accent-foreground: hsl(220.9 39.3% 11%);
  --color-fd-destructive: hsl(0 84.2% 60.2%);
  --color-fd-destructive-foreground: hsl(210 20% 98%);
  --color-fd-border: hsl(220 13% 91%);
  --color-fd-ring: hsl(262.1 83.3% 57.8%);
}

.dark {
  --color-fd-background: hsl(0, 0%, 7.04%);
  --color-fd-foreground: hsl(0, 0%, 92%);
  --color-fd-muted: hsl(0, 0%, 12.9%);
  --color-fd-muted-foreground: hsla(0, 0%, 70%, 0.8);
  --color-fd-popover: hsl(0, 0%, 11.6%);
  --color-fd-popover-foreground: hsl(0, 0%, 86.9%);
  --color-fd-card: hsl(0, 0%, 9.8%);
  --color-fd-card-foreground: hsl(0, 0%, 98%);
  --color-fd-border: hsla(0, 0%, 40%, 20%);
  --color-fd-primary: hsl(263.4 70% 50.4%);
  --color-fd-primary-foreground: hsl(210 20% 98%);
  --color-fd-secondary: hsl(0, 0%, 12.9%);
  --color-fd-secondary-foreground: hsl(0, 0%, 92%);
  --color-fd-accent: hsla(0, 0%, 40.9%, 30%);
  --color-fd-accent-foreground: hsl(0, 0%, 90%);
  --color-fd-ring: hsl(0, 0%, 54.9%);
}

